.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: blue;
}

.test {
  background-color: aliceblue;
  width: 50%;
  flex: 1; /* take remaining vertical space */
  display: flex;
  align-items: center;
  justify-content: center;
}