.page {
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}

.article {
  text-align: justify;
  max-width: 1600px; 
}

.articlesContainer {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  gap: 1rem; 
}

.noMargin {
  margin: 0;
}

.videoWrapper {
  position: relative;
  width: 30%;
  aspect-ratio: 16 / 9;
  border: 4px solid white;
  border-radius: 10px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

.times {
  display: flex;
  justify-content: center;
}
