.page {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 7fr;
  padding : 15px 5rem 35px 5rem;
  gap: 2rem
}

.container {
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
}

.row {
  display: flex;
  gap: 2rem; 
}

.padding {
  padding: 15px 20px;
}

.noMargin {
  margin: 0;
}

.videoWrapper {
  position: relative;
  width: clamp(40%, 85%, 85%);
  aspect-ratio: 9 / 16;
  border: 4px solid white;
  border-radius: 10px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

.downloadRow {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem; 
}

.strong {
  margin-left: 0.2rem;
}
