.page {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding : 15px 5rem 35px 5rem;
  gap: 2rem
}

.container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
}

.padding {
  padding: 15px 20px;
}

.row {
  display: flex;
  gap: 2rem; 
}

.noMargin {
  margin: 0;
}

.strong {
  margin-left: 0.2rem;
}

.photo {
  max-width: 100%;
  height: auto;
}

.downloadRow {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem; 
}