.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding : 15px 5rem 35px 5rem;
}

.container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
}

.card {
  max-height: 100%;
}


.row {
  display: flex;
  gap: 2rem; 
}

.noMargin {
  margin: 0;
}

.downloadRow {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem; 
}

.strong {
  margin-left: 0.2rem;
}

.padding {
  padding: 15px 20px;
}

