.page {
  height: 94%;
  display: grid;
  grid-template-columns: 2fr 7fr;
  padding-left: 8rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}

.article {
  max-width: 800px; 
}

.row {
  display: flex;
  gap: 1rem; 
}

.noMargin {
  margin: 0;
}

.videoWrapper {
  position: relative;
  width: clamp(40%, 100%, 100%);
  aspect-ratio: 9 / 16;
  border: 4px solid white;
  border-radius: 10px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

.downloadRow {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem; 
}

.strong {
  margin-left: 0.2rem;
}
