.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding : 15px 5rem 35px 5rem;
}

.container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}

.article {
  max-width: 1200px; 
}

.row {
  min-height: 0;
  display: flex;
  gap: 1rem; 
}

.noMargin {
  margin: 0;
}

.strong {
  margin-left: 0.2rem;
  font-size: 1.5rem;
}

.topics h3 {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: left;
  gap: 0.6rem;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}