.page {
  height: 94%;
  display: grid;
  padding-right: 50px; 
  padding-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}

.article {
  text-align: justify;
  max-width: 800px; 
}

.row {
  display: flex;
  gap: 1rem; 
}

.noMargin {
  margin: 0;
}

.downloadRow {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem; 
}

.strong {
  margin-left: 0.2rem;
}