.page {
  height: 94%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding-left: 5rem; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}

.article {
  text-align: justify;
  max-width: 1000px; 
}

.row {
  display: flex;
  gap: 1rem; 
}

.pdf {
  width: 100%;
  height: 95%;
  border: none;
}

.noMargin {
  margin: 0;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.strong {
  margin-left: 0.2rem;
}