.layout {
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    padding: 15px 10px;
    margin: 10px;
}

.textStyle {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}