.padding {
    padding: 40px 40px;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
    box-sizing: border-box;
    max-width: 600px;
}

.textStyle {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
