.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  box-sizing: border-box;
  gap: 5px;
}

.go {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.title {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 50px;
}

.card {
  margin-left: 30px;
  margin-right: 30px;
  flex: 1 1 320px;  
  max-width: 420px; 
  max-height: 100%;
  box-sizing: border-box;
}

.space {
  flex: 0.2 1 clamp(16px, 5vw, 64px);
}