.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.row {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 13%;
}

.go {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}