/* Layout.module.css */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbarContainer {
  height: 64px;
  /* flex-shrink: 0; */
}

.content {
  flex: 1;
  min-height: 0;   
  overflow: hidden;
}

