.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 5rem 5rem 35px 5rem;
}

.scrollWindow {
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 100vw;
  border-radius: 50px;
}

.scrollWindow::before {
  border-radius: 50px;
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.scrollContainer {
  display: flex;
  gap: 10px;
  animation: scroll 40s linear infinite;
  width: fit-content;

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 5px));
  }
}

.card {
  flex-shrink: 0;
  width: 175px;
  height: 125px;
  padding: 20px;
  text-align: center;
}

.title {
  padding: 1.5rem 2rem;
}

.descriptionCard {
  display: grid;
  grid-template-columns: 8px 1fr;
  gap: 40px;
}

.levelBar {
  width: 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  margin-top: 1rem;
  overflow: hidden;
  
  display: flex;
  flex-direction: column-reverse; 
}

.levelFill {
  width: 100%; 
  height: 100%;
  background: rgba(235, 235, 235, 0.8);
  transition: height 0.5s ease-out;
}