.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

/* Titre */
.header {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  text-align: center;
}

.grid {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(
    auto-fill,
    minmax(240px, 1fr)
  );

  gap: 1rem;
  justify-items: center;
}
