.page {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding : 15px 5rem 35px 5rem;
  gap: 2rem;
}

.container {
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card {
  min-height: 0;
  flex: 1 1 0;
  max-height: 100%;
  box-sizing: border-box;
}

.imageZone {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  flex: 1 1 0;
  max-height: 100%;
  box-sizing: border-box;
}

.card,
.imageZone {
  flex: 1 1 0;
  min-height: 0;
}

.photo {
  width: clamp(20%, 50%, 60%);
  flex-shrink: 0;
}