.page {
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 5rem 35px 5rem; 
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.cv {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    border: solid white 3px;
    box-sizing: border-box;
}

.go {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentZone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}