.page {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.cv {
    width: 100%;
    height: 94%;
    border: none;
}

.title {
    margin: 3rem 3rem;
    max-height: 100px;
    font-size: 1.4rem;
}

.next {
    font-size: 1.4rem;
    align-self: center;
    padding-top: 15px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.go {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;
  letter-spacing: 2px; 
}