.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding : 15px 5rem 35px 5rem;
}

.grid {
  flex: 1;
  min-height: 0;
  /* width: 100%; */
  max-width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 40px;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.photo {
  width: 40%;
  transform: translateY(20px);
}

.center {
  display: flex;
  justify-content: center;
}