.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  max-width: 500px;
  width: 90%;
}

.modalContent button {
  margin-top: 1rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 0.8em;
}