.flipCard {
  perspective: 1000px;
  cursor: pointer; /* indique que c'est cliquable */
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipCardInner.flipped {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  box-sizing: border-box;
}

.flipCardBack {
  transform: rotateY(180deg);
  font-size: 1.1rem;
}
