html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Funnel Sans", sans-serif;
  font-size: 16px;
}

/* --- Point navigation --- */
:root {
  --swiper-pagination-bullet-size: 12px; 
  --swiper-pagination-bullet-horizontal-gap: 10px; 
  --swiper-pagination-color: white;
}

/* toutes les bullets blanches */
.swiper-pagination-bullet {
  background: white !important;      /* couleur des bullets non actives */
  width: var(--swiper-pagination-bullet-size);
  height: var(--swiper-pagination-bullet-size);
  border-radius: 50%;
  margin-bottom: 10px !important;
  transition: all 0.3s ease;
}

/* bullet actif entouré */
.swiper-pagination-bullet-active {
  background: white; /* reste blanc à l'intérieur */
  position: relative; /* nécessaire pour le ::after */
}

/* contour espacé et centré */
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centre parfaitement */
  width: calc(var(--swiper-pagination-bullet-size) + 8px); /* bullet + espace */
  height: calc(var(--swiper-pagination-bullet-size) + 8px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none; /* ne bloque pas le clic */
}


/* --- SWIPER --- */
/*
.swiper-slide {
  pointer-events: none;
}

.swiper-slide-active {
  pointer-events: auto;
}

.swiper-slide:not(.swiper-slide-active) .heavy {
  display: none;
}

.swiper-slide-active .heavy {
  display: block;
}*/


iframe, div {
  caret-color: transparent; /* supprime le caret clignotant */
}


article {
  max-width: 800px;  /* largeur max du texte */
  margin: 0 auto;    /* centrer horizontalement */
  padding: 20px;
  line-height: 1.6;
  color: #222;
  text-align: justify;

}

h1, h2, h3 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: rgb(0, 0, 0);
  text-align: left;
}

h2 {
  font-size: clamp(1.125rem, 2.5vw, 1.75rem);
  color: rgb(0, 0, 0);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-align: left;
}

h3 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

p {
  font-size: clamp(0.875rem, 1.5vw, 1.125rem);
  line-height: 1.6;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

a {
  text-decoration: none;
}
