.page {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : 15px 5rem 35px 5rem;
}

.go {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}