.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  padding-bottom: 35px;
}

.titleZone {
  background-color: rgba(137, 43, 226, 0.616);
  min-height: 150px;
  flex-shrink: 0;
}

.contentZone {
  background-color: green;
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
}

.card {
  flex: 1 1 0;
  max-height: 100%;
  padding: 20px;
  background-color: blue;
  text-align: justify;
  overflow: auto;
  box-sizing: border-box;
}
