.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Perspective uniquement */
.card {
  perspective: 1000px;
  cursor: pointer;
  /* width: min(90vw, 1500px); */
}

/* L’inner définit la hauteur selon le contenu */
.inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

/* Flip */
.flipped .inner {
  transform: rotateY(180deg);
}

/* Faces */
.face {
  backface-visibility: hidden;
  width: 100%;
}

/* Superposition */
.front,
.back {
  position: absolute;
  inset: 0;
}

/* Orientation */
.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

/* Important : donne du flux */
.front {
  position: relative;
}

.article {
  max-width: 1500px;
}

.row {
  display: flex;
  gap: 2rem;
}