.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
  box-sizing: border-box;
}

.topCard {
}

.centerCards {
  display: flex;
  /* padding-top: clamp(12px, 5vw, 500px); */
}

.space {
  flex: 0.3 1 clamp(16px, 5vw, 64px);
}

.card {
  width: 160px;
  height: 120px;
  border-radius: 12px;
  background: #2a2a2a;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
