.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding : 15px 5rem 35px 5rem;
}

.titleZone {
  min-height: 120px;
  flex-shrink: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.textZone {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.card {
  flex: 1 1 0;
  max-height: 100%;
  box-sizing: border-box;
}

.textZoneFront,
.textZoneBack {
  transition: transform 0.5s ease-out, opacity 0.3s ease-in;
  position: absolute;
  inset: 0; 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.textZoneFront,
.textZoneBack {
  position: absolute;
  inset: 0;
  transition: transform 0.3s ease, opacity 0.1s ease;
  transform-origin: left center;
}

.textZoneFront {
  transform: scaleY(1);
  opacity: 1;
}

.textZoneBack {
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
}

.textZoneFront.flipped {
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
}

.textZoneBack.flipped {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}


/* --- TITLE FLIP CARD --- */
/* Flip card container */
.flipCard {
  background-color: transparent;
  width: 22rem;
  height: 6.5rem;
  perspective: 1000px; 
}

/* Position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s ease-out;
  transform-style: preserve-3d;
}

/* Do an horizontal flip */
.flipCard.flipped .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* Style the front side
.flipCardFront {
}*/

/* Style the back side */
.flipCardBack {
  transform: rotateY(180deg);
}